@import '../../node_modules/bootstrap/scss/bootstrap';
#render-zone {
  background-color: grey;
  height: 380px;
  width: 1200px;
}
.key-shadow {
  fill-opacity: 0.78;
}
.key-content {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.container-1U {
  max-width: 70px;
  min-width: 70px;
  margin-top: -3px;
  margin-right: 2px;
  display: inline-block;
}
#search-results {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}
